@model IEnumerable<ProyectoSistemaIntegral.Models.Productos>

@{
    ViewBag.Title = "Index";
}

<div class="row mt-4">
    <div class="col col-md-12 mt-5">
        <h2>Productos</h2>
        <p>
            @Html.ActionLink("Nuevo Producto", "Create", new { @class = "btn btn-warning", role = "button" })
        </p>
        @using (Html.BeginForm())
        {

            <p>
                Busqueda por Nombre del producto: @Html.TextBox("strBusqueda")
                <button type="submit" class="btn btn-success">Buscar</button>
            </p>
        }
        <table class="table table-hover">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Categorias.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Proveedores.Nombre)
                </th>
                <th>
                    @Html.ActionLink("Nombre Producto", "Index", new { strOrdenamiento = ViewBag.NombreSortParm })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.ActionLink("Fecha Ingreso", "Index", new { strOrdenamiento = ViewBag.DateSortParm })
                </th>
                <th>Acciones</th>
            </tr>

            @foreach (var item in Model)
            {

                <tr class="text-info">

                    <td>
                        @Html.DisplayFor(modelItem => item.Categorias.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proveedores.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaIngreso)
                    </td>
                    <td style="width:40%">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductoId }, new { @class = "btn btn-warning", role = "button" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ProductoId }, new { @class = "btn btn-info", role = "button" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductoId }, new { @class = "btn btn-danger", role = "button" })
                    </td>
                </tr>
            }

        </table>
        <h5>Generar reporte de los productos ingresados en el día actual</h5>
        @Html.ActionLink("Generar Reporte", "Print", new { @class = "btn btn-primary", role = "button" })
    </div>
</div>
<br />
