

@model PagedList.IPagedList<ProyectoSistemaIntegral.Models.Proveedores>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col col-md-12 mt-5">
        <p style="margin-top:100px">
            <h2>Proveedores</h2>
            @Html.ActionLink("Agregar nuevo proveedor", "Create")
        </p>
        @using (Html.BeginForm())
        {

            <p>
                Busqueda por Nombre del proveedor o por Correo electronico: @Html.TextBox("strBusqueda")
                <button type="submit" class="btn btn-success">Buscar</button>
            </p>
        }
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.ActionLink("Nombre", "Index", new { strOrdenamiento = ViewBag.NombreSortParm })
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().CodigoPostal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Telefono)
                    </th>
                    <th>
                        @Html.ActionLink("Correo Electronico", "Index", new { strOrdenamiento = ViewBag.CorreoSortParm })
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoPostal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CorreoElectronico)
                    </td>
                    <td style="width:40%">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning", role = "button" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info", role = "button" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", role = "button" })
                    </td>
                </tr>
            }

        </table>


    </div>
</div>
 Mostrando @Model.FirstItemOnPage a @Model.LastItemOnPage de @Model.TotalItemCount Productos

@Html.PagedListPager(Model, pagina => Url.Action("Index",
    new { pagina, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
