@model PagedList.IPagedList<ProyectoSistemaIntegral.Models.Ventas>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}



<p style="margin-top:100px">
    <h2>Ventas</h2>
    @Html.ActionLink("Realizar nueva venta", "Create")
</p>
<div class="row">
    <div class="col col-md-12 mt-4">
        @using (Html.BeginForm())
        {

        <p>
            Busqueda por Fecha de venta: @Html.TextBox("strBusqueda")
            <button type="submit" class="btn btn-success">Buscar</button>
        </p>
        }
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Productos.Nombre)
                    </th>
                    <th>
                        @Html.ActionLink("Fecha de venta", "Index", new { strOrdenamiento = ViewBag.DateSortParm })
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Productos.Precio)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Productos.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaVenta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Productos.Precio)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.VentaID }, new { @class = "btn btn-warning", role = "button" }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.VentaID }, new { @class = "btn btn-info", role = "button" }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.VentaID }, new { @class = "btn btn-danger", role = "button" })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="col col-md-12">
        Mostrando @Model.FirstItemOnPage a @Model.LastItemOnPage de @Model.TotalItemCount Productos

        @Html.PagedListPager(Model, pagina => Url.Action("Index",
            new { pagina, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

        <h5>Generar reporte del día</h5>
        @Html.ActionLink("Generar Reporte", "Print", new { @class = "btn btn-primary", role = "button" })
    </div>
</div>

